$font-black: "InterBlack";
$font-extraBold: "InterExtraBold";
$font-bold: "InterBold";
$font-extraLight: "InterExtraLight";
$font-light: "InterLight";
$font-medium: "InterMedium";
$font-thin: "InterThin";
$font-semiBold: "InterSemiBold";
$font-regular: "InterRegular";
$font-minion: "MinionPro";

$color-white: #fff;
$color-black: #000;
$color-navy: #0d0d12;
$color-border: #e6e6e6;
